@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&subset=latin-ext');

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-family: 'Lato', sans-serif;
}

#form {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 30px;
}

#add_container {
    background-color: #e6ebec;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    margin-top: 100px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    margin-top: 100px;
}

input[type=text] {
    background-color: #eeeeee;
    width: 280px;
    border: 1px solid;
    border-radius: 3px;
    height: 24px;
    margin: 10px;
    font-size: 18px;
}

.add_button {
    width: 280px;
    background-color: #59983b;
    border-radius: 5px;
    color: white;
    height: 40px;
    margin: 0px 10px 10px 10px;
}

.update_button{
    width: 280px;
    background-color: #fd6f08;
    border-radius: 5px;
    color: white;
    height: 40px;
    display: block;
    margin: 0 auto;
}

.action_button {
    width: 30px;
    border-type: none;
    background: transparent;
    border:none;
    font-size: 17px;
    color: #fd6f08;
    cursor: pointer;
}

.action_button:hover{
    color: #cb5d08;
}

h4 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#table {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

#add_new {
    margin-left: auto;
    margin-right: auto;
}

#button_div {
    margin-top: 20px;
    text-align: center;
}

#form {
    margin-left: auto;
    margin-right: auto;
}

#login_container {
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    padding: 25px;
    margin-top: 20px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);

}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.table-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-logo-text {
    padding-left: 0.3125rem;
}

#myInput {
    width: 600px;
    margin-left: 200px;
    margin-right: 200px;
}

#search {
    background-color: #eeeeee;
    width: 1000px;
    padding: 10px;
}

#myTable {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.nav-border-bottom {
    border-bottom: #eeeeee;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #fff;
}

.form-control {
    font-family: "FontAwesome"
}

.bg-eee {
    background-color: #eee;
}

#my-lectures-table {
    overflow-y: scroll;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.text-size-12 {
    font-size: 12px;
}

.name-column {
    width: 200px;
}

.input-type-date {
    width: 250px;
    margin-left: 20px;
    height: 25px;
}

.font-color-gray {
    color: gray;
}

#update_student_table{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
